<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./parcials/head') %>
</head>
<body >
    <header>
        <%- include('./parcials/header') %>
    </header>
<main class="main-error">
    <h2 class="h2-error">Página no encontrada</h2>
    <p>Te sugerimos revises la dirección o lo intentes de nuevo dentro de unos instantes</p>
   <img src="/img/oops-og.webp" alt="Oops">
</main>
</body>
</html>